* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    background-color: #D0C9B3;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.logo img{
    width: 120px;
}
.navbar{
    display: flex;
    padding: 20px;
    text-align: center;
}
.navbar nav{
    flex: 1;
    text-align: right;
}
.navbar ul{
    display: inline-block;
    list-style-type: none;
}
.navbar ul li{
    display: inline-block;
    padding: 20px;
}
.navbar a{
    text-decoration: none;
    color: #4f6d6e;
}
.hero {
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.hero a {
    text-decoration: none;
    color: #4f6d6e;
    display: inline-block;
    background-color: #cf9c0e;
    padding: 8px 25px;
    border-radius: 30px;
}
.column {
    flex-basis: 50%;
    min-width: 300px;
}
.column img {
    padding: 50px 0;
    max-width: 100%;
}
.column h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

